<div class="user">
  <img class="imagerounded" src: "<%=mentor.picture_url%> ">
  </img>
  <div class="information">
    <p class="rightf"><%= updated_at %></p>
    <h4><%= mentor.first_name %></h4>
  </div>
  <div class="clear">
  </div>
</div>
​