<h1>New conversation</h1>

<form id="new-conversation" name="conversation">
  <div class="field">
    <label for="message"> message:</label>
    <input type="text" name="message" id="message" value="<%= message %>" >
  </div>

  <div class="field">
    <label for="mentor"> mentor:</label>
    <input type="text" name="mentor" id="mentor" value="<%= mentor %>" >
  </div>

  <div class="field">
    <label for="mentee"> mentee:</label>
    <input type="text" name="mentee" id="mentee" value="<%= mentee %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Conversation" />
  </div>

</form>

<a href="#/index">Back</a>