#wrap {
  padding: 10% 0;
  margin: 0px auto; }

* {
  margin: 0;
  padding: 0; }

body {
  background: #eeeeee url(bright_squares.png);
  text-align: center;
  font: 1em "Lato", "Helvetica", arial, sans-serif; }

a {
  text-decoration: none; }

#logo {
  padding: 0px 0px 15px; }

#landingcollect {
  background: white;
  padding: 25px 0 20px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 5px solid rgba(0, 0, 0, 0.15);
  width: 300px;
  margin: 0px auto; }

label {
  font-weight: 300;
  font-size: 0.85em; }
  label#purplelabel {
    color: #8b67a8; }
  label#greenlabel {
    color: #4ea7b9; }

#samewidth {
  border: 1px solid #ddd;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 248px;
  padding: 10px 8px;
  font: 0.85em "Lato", "Helvetica", arial, sans-serif;
  color: #dddddd;
  outline: none;
  font-weight: 300; }
  #samewidth:focus {
    border: 1px solid #77b4e8;
    color: #aaaaaa; }

#signup, #login {
  background: #5592c6 !important;
  padding: 14px 0px 14px;
  margin: 10px auto 0;
  width: 266px;
  display: block;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.75em;
  color: white;
  text-transform: uppercase; }

#signup:hover {
  background: #77b4e8 !important; }

#nerds {
margin: 20px 0px 0px 0px;
  font: 0.75em "Lato", "Helvetica", arial, sans-serif;
  color: #aaaaaa; }
  #nerds a {
    color: #222222;
    /*border-bottom: 1px dotted $mdgrey;*/ }
    #nerds a:hover {
      border-bottom: 1px dotted #222222; }
	/* line 233, ../../app/assets/stylesheets/application.css.scss */
	.footer {
	  background: #f2f2f2;
	  border-top: 1px solid #dddddd;
	  text-align: left;
	  padding: 30px 0;
	  min-height: 100px;
	}
	/* line 234, ../../app/assets/stylesheets/application.css.scss */
	.footer p {
	  font-size: 1em;
	  color: #222222;
	}
	/* line 243, ../../app/assets/stylesheets/application.css.scss */
	.footer a {
	  color: #222222;
	  border-bottom: 1px solid #aaaaaa;
	}
	/* line 246, ../../app/assets/stylesheets/application.css.scss */
	.footer a:hover {
	  color: #aaaaaa;
	}
	
	.container_12 {
	  width: 940px;
	margin: 0px auto;
	}
	.rightf {
		float: right;
	}
	.leftf {
		float: left;
	}