=content_for :head do
  =javascript_include_tag 'conversation_view'
  =javascript_include_tag 'ICanHaz.min.js'
  =javascript_include_tag 'templates/message'
  =javascript_include_tag 'conversation_view'
.conversations
  .four.columns
    .users
      %ul
        -@conversations.each do |conversation| 
          %li
            .user{data: { id: "#{conversation[:id]}"}}
              %img{src: "#{conversation[:user].picture_url}"}
              .information
                %h4= conversation[:user].first_name
              .clear    
          
  .eight.columns
    .messages
      %ul
        -@messages.each do |message| 
          %li
            .message{class: "#{message.owner_type}"}
              %p=message.value
              %span=message.created_at