=content_for :head do
  =javascript_include_tag 'conversation_view'
  =stylesheet_link_tag 'conversation_view'
.conversations
  .four.columns
    .users
      %ul
        -@conversations.each do |user| 
          %li
            .user{data: { id: "#{user.id}"}}
              %img{src: "#{user.picture_url}"}
              .information
                %h4= user.first_name
              .clear    
          
  .eight.columns
    .messages
      %ul
        -@messages.each do |message| 
          %li
            .message{class: "#{message.owner_type}"}
              %p=message.value
              %span=message.created_at