=content_for :head do
  =javascript_include_tag 'conversation_view'
  =javascript_include_tag 'ICanHaz.min.js'
  =javascript_include_tag 'templates/message'
  =javascript_include_tag 'conversation_view'
.conversations
  .grid_4
    .users
      %ul
        -@conversations.each do |conversation| 
          %li
            .user{data: { id: "#{conversation[:id]}"}}
              %img{src: "#{conversation[:user].picture_url}"}
              .information
                %h4= conversation[:user].first_name
              .clear    
          
  .grid_8
    .messages
      %ul
        .container_12
          .grid_1
            %img{src: "http://www.dummyimage.com/50x50/000000/fff"}
          .grid_6#nameoverride
            hay
          .grid_1  
            yay
        .container_12
          .grid_1
            woo
          .grid_7#msgoverride
            -@messages.each do |message| 
              %li
                .message{class: "#{message.owner_type}"}
                  %p=message.value
                  %span=message.created_at
          