=content_for :head do
  =javascript_include_tag "mentor_stream"


    
#main
  .container_12
    .conversations
      .leftbar
        tets

      .rightbar
        %ul.mentorStream
          %h3 425 Unanswered Questions
          -@questions.each do |question|
            %li.mentorItem{ data: { id: question.id } }
              .container_12
                
                .grid_1
                  %img.imagerounded{src: "http://www.dummyimage.com/50x50/000000/fff"}
                .message
                  %h5.name= question.mentee.first_name
                  %p.question= question.messages.first.value
                  .leftf
                    %span.matchValue
                      \67%
                    
                    %p.match Match
                  .button.grey.reply.rightf.respondButton Respond
        
        
#responseModal.reveal-modal
  %h1 Submit A response
  #recorderContainer
    %a.close-reveal-modal &#215

    .clear
