=content_for :head do
  =javascript_include_tag "mentor_stream"


    
#main
  .container_12
    .conversations
      .leftbar#checks
        %h6 Personal Questions
        <div class="checklist"><label for="checkbox1"><input type="checkbox" id="checkbox1"> Self Confidence</label></div>
        <div class="checklist"><label for="checkbox1"><input type="checkbox" id="checkbox2"> LGBT</label></div>
        <div class="checklist"><label for="checkbox1"><input type="checkbox" id="checkbox3"> Bullying</label></div>
        <div class="checklist"><label for="checkbox1"><input type="checkbox" id="checkbox4"> Introversion</label></div>
        %hr
        %h6 Career &amp; Education Questions
        <div class="checklist"><label for="checkbox1"><input type="checkbox" id="checkbox1"> Higher Education</label></div>
        <div class="checklist"><label for="checkbox1"><input type="checkbox" id="checkbox2"> Applying for a Job</label></div>
        <div class="checklist"><label for="checkbox1"><input type="checkbox" id="checkbox3"> Study Habits</label></div>
        <div class="checklist"><label for="checkbox1"><input type="checkbox" id="checkbox4"> Scholarships and Loans</label></div>
      .rightbar
        %ul.mentorStream
          %h3 425 Unanswered Questions
          -@questions.each do |question|
            %li.mentorItem{ data: { id: question.id } }
              .container_12
                
                .grid_1
                  %img.imagerounded{src: "http://www.dummyimage.com/50x50/000000/fff"}
                .message
                  %h5.name= question.mentee.first_name
                  %p.question= question.messages.first.value
                  .leftf
                    %span.matchValue
                      \67%
                    
                    %p.match Match
                  .button.grey.reply.rightf.respondButton
                    %span Answer
                    .video2 &nbsp;
        
        
#responseModal.reveal-modal
  %h1 Submit a Response
  #recorderContainer
    %a.close-reveal-modal &#215

    .clear


.footer
  .container_12
    %p.leftf 
      Made by <a href="https://twitter.com/#!/brennenbyrne" title="brenne byrne">five</a> <a href="https://twitter.com/#!/grungerabbit" title="cheryl wu">nerds</a> <a href="https://twitter.com/#!/conwayanderson" title="conway anderson">at</a> <a href="https://twitter.com/#!/jessepollak" title="jesse pollak">Angelhack</a> <a href="https://twitter.com/#!/thetabyte" title="jordan goldstein">NYC</a>
    %p.rightf About | Navigation | Navigation