$borders: 1px solid;      

// main colors
$dkgrey: #222220;
$dqgrey: #706f6b;
//$dmgrey: #85837b;
$mdgrey: #a9a8a2;
$mlgrey: #c9c8c1;
$llgrey: #edebe1;
$ltgrey: #e0ddd1;
$transgrey: rgba(0, 0, 0, .15);
$transgrey2: rgba(0, 0, 0, .25);
$owhite: #fdfcf9;
$white: #fff;
$greenn: #4c899d;
$purplen: #8b67a8;
$bluen: #5592c6;

$purplel: #775294;
$turquoisel: #6cb2b6;
$bluel: #4c899d;
$greyL: #818383;

//BUTTON COLORS
$primary: #3399cc;
$secondary: #99a3aa;
$greena: #60a731;

$bg: url(images/bg3.png);
$ask: url(/assets/ask.png) no-repeat left center;

$rbwidth: 610px;

// font sizes   
$fontXXL: 5em;
$fontXL: 3em;
$fontL: 2.5em;  
$fontML: 2em; 
$fontMM: 1.5em;
$fontME: 1.35em;
$fontMS: 1.2em; 
$fontR: 1em;
$fontRS: .85em;  
$fontS: .75em;  
$fontXS: .55em;

$fontstack: "Lato", "Helvetica", arial, sans-serif;
$bsd: 0px 2px 6px $transgrey;
$bsd2: 0px 2px 6px $transgrey2;
$inset: inset 0 0 3px $ltgrey;

@mixin no-sides {
	border-left: none;
	border-right: none;
}    
@mixin boxshad($bshad) {
	-moz-box-shadow: $bshad;
	-webkit-box-shadow: $bshad;
	box-shadow: $bshad;	
}
@mixin borderc($radius) {
       -moz-border-radius: $radius;
       -webkit-border-radius: $radius;
       border-radius: $radius;
}
@mixin opacity($opnum) {
	opacity: $opnum;
	-moz-opacity: $opnum;
	-webkit-opacity: $opnum;
}
@mixin border10br {
		-moz-border-radius-bottomright: 10px;
		-webkit-border-bottom-right-radius: 10px;
		border-bottom-right-radius: 10px;
}
@mixin border10tr {
		-moz-border-radius-topright: 10px;
		-webkit-border-top-right-radius: 10px;
		border-top-right-radius: 10px;
}
@mixin border10tl {
		-moz-border-radius-topleft: 10px;
		-webkit-border-top-left-radius: 10px;
		border-top-left-radius: 10px;
}
@mixin bordertop10 {
	@include border10tr;
	@inlcude border10tl;
}
@mixin textshad {
	text-shadow: 0px 1px 4px #000;
}
@mixin headerp {
	height: 17px;
	padding: 30px 0px 23px;
}
@mixin sqimg($side) {
	width: $side;
	height: $side;
}
a {
	color: $bluel;
	&:hover, &.active {
		color: $mdgrey;
	}
}

#applogo {
	@include headerp;
}
#application {

	background: $white;
	padding: 20px;
	margin: 30px auto;
	text-align: left;
	@include boxshad($bsd);
	@include borderc(10px);
	width: 420px;
	min-height: 100px;
	&.sign {
		width: 650px;
	}
	&.thin {
		width: 420px !important;
	}
	.leftf {
		width: 420px;
		a {
			float: right;
			padding: 10px 20px;
		}
	}
	.rightf {
		text-align: left;
		min-height: 350px;
		width: 209px;
		float: left;
		padding-left: 20px;
		border-left: $borders $ltgrey;
		p {
			font-size: $fontMS;
		}
		a {
			padding: 15px 10px;
			color: white;
			font-size: $fontR;
			text-transform: uppercase;
			font-weight: bold;
			text-decoration: none;
			@include borderc(5px);
		  	cursor: pointer !important;
			text-align: center;
			background: $secondary;
			float: right;
			width: 100px;
			&:hover {
				background: $secondary + $dkgrey;
			}
		}
		hr {
			margin: 10px 0;
		}
	}
	label {
		position: absolute;
		color: red;
		font-size: $fontMS;
		margin-left: 5px;
		margin-top: 20px;
	}
	&.sign label {
		position: static;
		color: $dkgrey;
		font-size: $fontMS;
		margin-left: 20px;
		margin-top: 20px;
	}
}
	h2 {
		text-align: center;
		font-weight: 300;
		padding: 5px;
	}

	input:not(.tagInputField), .bio {
		font: $fontMS $fontstack;
		width: 380px;
		padding: 10px;
		border: $borders $ltgrey;
		color: $mdgrey;
		@include borderc(5px);
		@include boxshad($inset);
		margin: 10px 20px;
		&:focus {
			outline: none;
			border-color: $primary;
		}
	}
	input#mentor_remember_me, input#mentee_remember_me {
		width: 0px;
/*		margin-left: 100px;*/
		margin-right: -5px;
	}
	h2 {
	text-align: center;
	font-weight: 300;
	padding: 5px;
}
.bio {
  min-height: 80px;
}
.button {
	background: $primary;
	width: 340px;
	padding: 20px;
	margin: 10px 20px;
}
input.submit {
	padding: 15px 10px;
	color: white !important;
	font: $fontR "Lato", "Helvetica", arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	margin: 10px 20px;
	@include borderc(5px);
  	cursor: pointer !important;
	text-align: center;
	background: $primary;
	box-shadow: none;
	&:hover {
		background: $primary + $dkgrey;
	}
}
.part2 {
  display: none;
}
p {
  font-size: 1.3em;
}
.info {
  margin-left: 30px;
  img {
    float: left;
    width: 50px;
    margin:auto;
  }
  h3 {
    float: left;
    margin-left: 20px;
    line-height: 50px;
  }
}

.tags {
  width: 380px;
  padding: 0px!important;
  margin: 10px 20px 0 20px!important;
}

.part2 p {
  margin-left: 20px;
  color: #A9A8A2;
}

.part3 p {
  text-align: center;
}

