/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$borders: 1px solid;      

// main colors
$dkgrey: #222;
$dmgrey: #858585;
$mdgrey: #aaa;
$llgrey: #eee;
$ltgrey: #ddd;
$transgrey: rgba(0, 0, 0, .15);
$transgrey2: rgba(0, 0, 0, .25);
$owhite: #f2f2f2;
$white: #fff;
$greenn: #4ea7b9;
$purplen: #8b67a8;
$bluen: #5592c6;

$purplel: #a58db9;
$turquoisel: #99cbeb;
$transpurple: rgba(165, 141, 185, .5);
$transturq: rgba(153, 203, 235, .5);
$bluel: #6b93c8;
$greyL: #818383;

$bg: url(concrete_wall_3.png);
$mainbg: url(bg.png);
$video: url(video.png) no-repeat left center;



// font sizes   
$fontXXL: 5em;
$fontXL: 3em;
$fontL: 2.5em;  
$fontML: 2em; 
$fontMM: 1.5em;
$fontMS: 1.2em; 
$fontR: 1em;
$fontRS: .85em;  
$fontS: .75em;  
$fontXS: .55em;

$fontstack: "Lato", "Helvetica", arial, sans-serif;
$bsd: 0px 2px 6px $transgrey;
$bsd2: 0px 2px 6px $transgrey2;
$inset: inset 0 0 10px #000000;

@mixin no-sides {
	border-left: none;
	border-right: none;
}    
@mixin font2 {     
	font-family: '', sans-serif;
}
@mixin defaultbox {
	-moz-box-shadow: $bsd;
	-webkit-box-shadow: $bsd;
	box-shadow: $bsd;
}
@mixin defaultbox2 {
	-moz-box-shadow: $bsd2;
	-webkit-box-shadow: $bsd2;
	box-shadow: $bsd2;
}
@mixin border5 {
       -moz-border-radius: 5px;
       -webkit-border-radius: 5px;
       border-radius: 5px;
}
@mixin border10 {
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	border-radius: 10px;
}
@mixin border15 {
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
	border-radius: 15px;
}
@mixin border20 {
       -moz-border-radius: 20px;
       -webkit-border-radius: 20px;
       border-radius: 20px;
}
@mixin border10br {
		-moz-border-radius-bottomright: 10px;
		-webkit-border-bottom-right-radius: 10px;
		border-bottom-right-radius: 10px;
}
@mixin border10tr {
		-moz-border-radius-topright: 10px;
		-webkit-border-top-right-radius: 10px;
		border-top-right-radius: 10px;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.clear {
  clear: both;
}


.righta {
	text-align: right;
}
.lefta {
	text-align: left;
}
.rightf {
	float: right;
}
.leftf {
	float: left;
}
#wrap {
	padding: 10% 0;
	margin: 0px auto;
}
#wraptwo {
	padding: 5% 0;
	margin: 0px auto;
}
* {
	margin: 0;
	padding: 0;
}

body {
	background: #eee $bg !important;
	text-align: center;
	font: $fontR $fontstack !important;
	overflow-x: hidden;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
#header {
	height: 70px;
	padding: 0;
	background: $white;
	@include defaultbox;
	border-bottom: 2px solid $llgrey;
	.grid_2 {
		height: 17px;
		padding: 30px 0px 23px;
		border-right: 1px solid $llgrey;
		margin: 0px 0 0;
		&#home {
			width: 250px;
			border-right: none;
			text-align: right;
		}
	}
	a {
		text-transform: uppercase;
		padding: 30px 5px;
		font-size: $fontMS;
		font-weight: bold;
		color: $mdgrey;
		&:hover, &.active {
			color: $bluel;
		}
	}
	
}
#main {
	background: $white $mainbg;
	padding: 0px;
	margin: 20px auto;
	text-align: left;
	width: 960px;
	@include defaultbox2;
	@include border10;
}


.imagerounded {
	@include border5;
}
.button {
	padding: 15px 10px;
	color: white;
	font: $fontRS "Lato", "Helvetica", arial, sans-serif;
	text-transform: uppercase;
	padding-left: 80px;
	font-weight: bold;
	text-decoration: none;
	margin: 20px;
}

.button {
	padding: 10px 10px;
	color: white;
	font: $fontMM "Lato", "Helvetica", arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	margin: 5px;

}

.leftbar {
	width: 300px;
	float: left;

}
.rightbar {
	width: 659px;
	float: left;
	border-left: $borders $ltgrey;
}
.footer {
	p {
		font-size: $fontMM;
		color: $dkgrey;
	}
	background: $owhite;
	border-top: $borders $ltgrey;
	text-align: left;
	padding: 30px 0;
	min-height: 100px;
	a {
		color: $dkgrey;
		border-bottom: $borders $mdgrey;
		&:hover {
			color: $mdgrey;
		}
	}
}



.respondButton {
	padding-left: 35px;
}
.video2 {
	background: $video !important;
	height: 30px;
	position: absolute;
	width: 30px;
	margin-top: -22px;
	margin-left: -20px;
}



