* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  font-size: 9pt; }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px;
  /* the bottom margin is the negative value of the footer's height */ }

.footer, .push {
  height: 40px;
  /* .push must be the same height as .footer */ }

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/
.clear-left {
  clear: left; }

.clear-right {
  clear: right; }

.clear {
  clear: both; }

.righta {
  text-align: right; }

.lefta {
  text-align: left; }

.rightf {
  float: right; }

.leftf {
  float: left; }

#wrap {
  padding: 10% 0;
  margin: 0px auto; }


body {
  background: #eeeeee url(bg3.png) !important;
  text-align: center;
  font: 1em "Lato", "Helvetica", arial, sans-serif !important;
  overflow-x: hidden; }

a {
  text-decoration: none; }

li {
  list-style: none; }

#header {
  height: 70px;
  padding: 0;
  background: white;
  -moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  border-bottom: 2px solid #edebe1; }
  #header .grid_10 {
    height: 17px;
    padding: 30px 0px 23px; }
  #header .button {
    margin-top: -10px;
    font-size: 1em; }
  #header .grid_2, #header .grid_4 {
    height: 17px;
    padding: 30px 0px 23px;
    border-right: 1px solid #edebe1;
    margin: 0px 0 0; }
  #header #logoc {
    padding-right: 15px; }
  #header #home {
    height: 17px;
    padding: 30px 0px 23px;
    width: 381px;
    border-right: none;
    text-align: right; }
    #header #home img {
      width: 30px;
      height: 30px;
      position: absolute;
      margin-left: -40px;
      margin-top: -10px; }
  #header a {
    text-transform: uppercase;
    padding: 30px 5px;
    font-size: 1em;
    margin-top: 2px;
    font-weight: bold;
    color: #a9a8a2; }
    #header a:hover, #header a.active {
      color: #4c899d; }
    #header a.signout {
      font-weight: 300; }

#main {
  background: white;
  padding: 0px;
  margin: 20px auto;
  text-align: left;
  width: 960px;
  -moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }
  #main.bill {
    background: white; }

.imagerounded {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.button {
  padding: 15px 10px;
  color: white;
  font: 1em "Lato", "Helvetica", arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  margin: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer !important;
  text-align: center; }
  .button.reply {
    width: 100px !important;
    text-align: center;
    font-size: 1.2em;
    background: #a9a8a2; }

.leftbar {
  width: 280px;
  float: left;
  min-height: 500px;
  padding: 15px; }
  .leftbar h3 {
    padding: 15px 0;
    color: #c9c8c1; }

.rightbar {
  width: 629px;
  float: left;
  border-left: 1px solid #e0ddd1;
  min-height: 500px; }

.footer {
  background: #fdfcf9;
  border-top: 1px solid #e0ddd1;
  text-align: left;
  padding: 30px 0; }
  .footer p {
    font-size: 1.5em;
    color: #222220; }
  .footer a {
    color: #222220;
    border-bottom: 1px solid #a9a8a2; }
    .footer a:hover {
      color: #a9a8a2; }
  .footer .rightf {
    display: none; }
