$borders: 1px solid;      

// main colors
$dkgrey: #222220;
$dqgrey: #706f6b;
//$dmgrey: #85837b;
$mdgrey: #a9a8a2;
$mlgrey: #c9c8c1;
$nlgrey: #eee;
$llgrey: #edebe1;
$ltgrey: #e0ddd1;
$transgrey: rgba(0, 0, 0, .15);
$transgrey2: rgba(0, 0, 0, .25);
$owhite: #fdfcf9;
$white: #fff;
$greenn: #4c899d;
$purplen: #8b67a8;
$bluen: #5592c6;

$purplel: #775294;
$turquoisel: #6cb2b6;
$bluel: #4c899d;
$greyL: #818383;

//BUTTON COLORS
$primary: #3399cc;
$secondary: #99a3aa;
$greena: #60a731;

$bg: url(/assets/bg3.png);
$ask: url(/assets/ask.png) no-repeat left center;
$video: url(/assets/video2.png) no-repeat left center;

$rbwidth: 610px;

// font sizes   
$fontXXL: 5em;
$fontXL: 3em;
$fontL: 2.5em;  
$fontML: 2em; 
$fontMM: 1.5em;
$fontME: 1.35em;
$fontMS: 1.2em; 
$fontR: 1em;
$fontRS: .85em;  
$fontS: .75em;  
$fontXS: .55em;

$fontstack: "Lato", "Helvetica", arial, sans-serif;
$bsd: 0px 2px 6px $transgrey;
$bsd2: 0px 2px 6px $transgrey2;
$inset: inset 0 0 3px $ltgrey;

@mixin no-sides {
	border-left: none;
	border-right: none;
}    
@mixin boxshad($bshad) {
	-moz-box-shadow: $bshad;
	-webkit-box-shadow: $bshad;
	box-shadow: $bshad;	
}
@mixin borderc($radius) {
       -moz-border-radius: $radius;
       -webkit-border-radius: $radius;
       border-radius: $radius;
}
@mixin opacity($opnum) {
	opacity: $opnum;
	-moz-opacity: $opnum;
	-webkit-opacity: $opnum;
}
@mixin border10br {
		-moz-border-radius-bottomright: 10px;
		-webkit-border-bottom-right-radius: 10px;
		border-bottom-right-radius: 10px;
}
@mixin border10tr {
		-moz-border-radius-topright: 10px;
		-webkit-border-top-right-radius: 10px;
		border-top-right-radius: 10px;
}
@mixin border10tl {
		-moz-border-radius-topleft: 10px;
		-webkit-border-top-left-radius: 10px;
		border-top-left-radius: 10px;
}
@mixin bordertop10 {
	@include border10tr;
	@inlcude border10tl;
}
@mixin textshad {
	text-shadow: 0px 1px 4px #000;
}
@mixin headerp {
	height: 17px;
	padding: 30px 0px 23px;
}
@mixin sqimg($side) {
	width: $side;
	height: $side;
}

.video2 {
	background: transparent $video;
	margin-top: -17px;
}




.mentorStream {
	color: $dqgrey;
	border: none;
	padding: 0;
	.grid_1 {
		width: 50px !important;
	}
	h3 {
		color: $dkgrey;
		font-weight: 300;
		font-size: $fontMM;
		line-height: $fontMS;
		padding: 0px 0px 20px;
		border-bottom: $borders $ltgrey;
		margin: 20px 20px 0;
		width: $rbwidth;
	}
	li {
		border-bottom: $borders $ltgrey;
		width: $rbwidth;
		padding: 25px 0;
		margin: 0 0 0 20px;
		min-height: 40px;
	}
	p {
		font-size: $fontMS;
		line-height: $fontME;
		color: $dkgrey;
		margin-bottom: $fontXS;
		-webkit-margin-before: 0 !important;
	}
	h5 {
		font-size: $fontMS;
		color: $dkgrey;
		font-weight: bold;
		margin-left: -10px;
	}
	#timestamp {
		color: $mdgrey;
		font-size: $fontMS;
		padding: 0;
		width: 120px;
		text-align: right;
	}
	.message {
		width: 520px;
		padding-left: 70px;
		margin-top: -15px;
	}
	img {
		@include sqimg(40px);
	}
	.button {
		width: 70px;
		padding: 8px;
		height: 15px;
		text-align: right;
		font-size: $fontMS;
	}
	.match {
		padding: 13px 0;
		font-size: $fontMS;
		span {
			color: $greena;
			font-weight: bold;
			margin-left: 8px;
		}
	}
}

.leftbar {
	font-size: $fontMS;
}
.howitworks {
	@include borderc(5px);
	background: $nlgrey;
	padding: 20px;
	margin: -5px 0 10px -5px;
	width: 250px;
	a {
		color: $dkgrey;
	}
	li {
		margin-left: 40px;
		padding: 10px 0 20px;
		line-height: $fontMM;
		span {
			position: absolute;
			margin-left: -40px;
			background: $white;
			color: $ltgrey;
			font-weight: bold;
			@include borderc(25px);
			width: 12px;
			height: 12px;
			padding: 10px;
			text-align: center;
			font-size: $fontRS;
			line-height: $fontR;
		}
	}
}
.mentorcat {
	h4 {
		color: $dqgrey;
		padding: 0 10px;
	}
	li {
		padding: 5px;
    border-radius: 10px;
    float: left;
    background: #7FD4F0;
    margin: 5px;
	}
	a {
		color: $dqgrey;
		text-decoration: underline;
	}
	ul {
	  margin-top: 20px;
	}
}