$borders: 1px solid;      

// main colors
$dkgrey: #222;
$dmgrey: #858585;
$mdgrey: #aaa;
$llgrey: #eee;
$ltgrey: #ddd;
$transgrey: rgba(0, 0, 0, .15);
$white: #fff;
$greenn: #4ea7b9;
$greenm: #61a10f;
$purplen: #8b67a8;
$bluen: #5592c6;

$purplel: #a58db9;
$turquoisel: #99cbeb;
$transpurple: rgba(165, 141, 185, .5);
$transturq: rgba(153, 203, 235, .5);
$bluel: #6b93c8;
$greyl: #818383;

$bg: url(/assets/bright_squares.png);



// font sizes   
$fontXXL: 5em;
$fontXL: 3em;
$fontL: 2.5em;  
$fontML: 2em; 
$fontMM: 1.5em;
$fontMS: 1.2em; 
$fontR: 1em;
$fontRS: .85em;  
$fontS: .75em;  
$fontXS: .55em;

$fontstack: "Lato", "Helvetica", arial, sans-serif;

$bsd: 10px 0px 10px $mdgrey;

@mixin no-sides {
	border-left: none;
	border-right: none;
}    
@mixin font2 {     
	font-family: '', sans-serif;
}
@mixin defaultbox {
	-moz-box-shadow: $bsd;
	-webkit-box-shadow: $bsd;
	box-shadow: $bsd;
}
@mixin border5 {
       -moz-border-radius: 5px;
       -webkit-border-radius: 5px;
       border-radius: 5px;
}
@mixin border10 {
	-moz-border-radius: 10px;
	border-radius: 10px;
}




.mentorStream {
	li.mentorItem {
		border-bottom: $borders $ltgrey;
		color: $dmgrey;
		width: 590px !important;
		padding: 20px 0;
		margin: 0 0 0 35px;
		p {
			font-size: $fontMM;
		}

		
	}
	p {
		font-size: $fontMM;
		line-height: $fontMM;
		color: $dkgrey;
		font-weight: 300;
	}
	h3 {

		font-weight: 300;
		padding: 15px 10px 10px 0;
		margin-left: 40px;
		width: 575px;
		border-bottom: $borders $ltgrey;
	}
	h5 {
		font-weight: bold;
	}
	.matchValue {
		margin: 0;
		font-size: $fontL;
		font-weight: bold;
		color: $greenm;
	}
	.match {
		margin: 0;
		position: relative;
		top: -4px;
		color: $mdgrey;
		font-weight: bold;
		text-transform: uppercase;
	}
}
